nav{
    background-color:pink;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li a {
    color: aliceblue;
    text-decoration: none;  
    position: relative;
}

li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;  
    width: 100%;
    height: 2px;
    background-color: pink;
    transition:1s;
}

li:hover a::after {
    background-color: aliceblue;
}

li{

    padding: 20px ;
    display: inline-block;
}
.Logo{
    position: absolute;
}

.Home{
    margin-right: auto;
}

ul{
    position: absolute;
    right: 130px;
    top: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-direction: column;
}

.about-section {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }

h1{
    text-align: center;
}

h2{
    font-size: large;
}

h1,h2{
    letter-spacing: 2px;
    font-family: 'Space Grotesk', sans-serif;
}

p{
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.5px;
}