nav {
    position: sticky;
    top: 0;
    background-color: pink;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.Logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


nav img {
    width: auto;
    height: 50px;
}


nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
}

nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: 0.3s;
}

nav li a:hover::after {
    width: 100%;
}

.Home {
    margin-right: auto;
}

@media (max-width: 700px) {
    .Home{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
    .Logo{
        margin-right: auto;
        position: relative;
        left: 0;
        transform: translateX(0%);
    }
  }
