
h1{
    position: absolute;
    color: aliceblue;
    top: 60%;
    font-size: 100px;
    z-index: 1;
}

img.crew{
    filter: brightness(1);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

h1:hover + img.crew{
    filter: brightness(0.5);
    transition:1s;
}

img.crew:hover{
    filter: brightness(0.5);
    transition:1s; 
}


nav {
    position: sticky;
    top: 0;
    background-color: pink;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.Logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


nav img {
    width: auto;
    height: 50px;
    margin-right: 20px;
}


nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
    transition: 0.3s;
}

nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: 0.3s;
}

nav li a:hover::after {
    width: 100%;
}

nav li a:hover {
    color: aliceblue;
}

.Home {
    margin-right: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.imgText{
    display: inline;
}

p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
}

h4{
    text-decoration: underline;
    text-align: center;
    font-size: large;
}

section{
    display: flex;
    flex-direction: column;
}

.fun-fact {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
