h1{
    position: absolute;
    color: aliceblue;
    top: 60%;
    font-size: 100px;
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.imgText{
    display: inline;
}

p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
}

h4{
    text-decoration: underline;
    text-align: center;
    font-size: large;
}

section{
    display: flex;
    flex-direction: column;
}

.fun-fact {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
