
h1{
    position: absolute;
    color: aliceblue;
    top: 60%;
    font-size: 100px;
    z-index: 1;
}

img.crew{
    filter: brightness(1);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

h1:hover + img.crew{
    filter: brightness(0.5);
    transition:1s;
}

img.crew:hover{
    filter: brightness(0.5);
    transition:1s; 
}

nav{
    background-color:pink;
    padding: 10px;
    
}
.navdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

li a {
    color: aliceblue;
    text-decoration: none;  
    position: relative;
}

li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;  
    width: 100%;
    height: 2px;
    background-color: pink;
    transition:3s;
}

li:hover a::after {
    background-color: aliceblue;
}

li{

    padding: 20px ;
    display: inline-block;
}
.Logo{
    position: absolute;
}

.Home{
    margin-right: auto;
}

ul{
    position: absolute;
    right: 130px;
    top: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.imgText{
    display: inline;
}

p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
}

h4{
    text-decoration: underline;
    text-align: center;
    font-size: large;
}

section{
    display: flex;
    flex-direction: column;
}

.fun-fact {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
